html{
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat';
}

/* .container-fluid {
  padding-left: 0;
  padding-right: 0;
} */



.navbar-title{
    font-size: 1.5rem;
    font-family: 'Montserrat';
}

/* Title Heading */


/* .top-row{
    margin-bottom: 0%;
} */




/* @media(min-width:990px){
    .title-image{
        width: 30%;
        margin: 1% 10% 10% 20%;
    }
    .heading{
        font-family: 'Montserrat';
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 1.5;   
        color: white;
        padding-top: 20%;
        padding-left: 5%;
    }
} */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-custom {
    transition-property: padding-bottom, padding-top, background-color;
    transition-duration: 0.5s, 0.5s, 0.5s;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,0));
    z-index: 99;
}

.trnsp{
    transition-property: padding-bottom, padding-top, background-color;
    transition-duration: 0.5s, 0.5s, 0.5s; 
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    background-color: #1e1e1e;
    box-shadow: 1px 2px 13px #754609, 0 0 8px #000000;
}




.nav-item{
    padding: 0 1rem;
    font-size: 1rem;
    
}

.nav-link:hover{
    text-emphasis: bold;
    color: #ff9933!important;
    border-bottom: solid 1px #fdd8b4;
}

.heading{
    font-family: 'Montserrat';
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.5;   
    color: white;
    margin-top: 19.5%;
    padding-left: 5%;
}

.top-right{
    background-color: #ff9933;
    padding-bottom: 10rem;
    border-left: solid 0.35rem #a55200;

}
.top-left{
    background-color: #ff8000;
    padding-bottom: 12%;
}

.strt-btn{
    margin-top: 5%;
    margin-left: 5%;
}

.start-collabing{
    color: #ff9933;
    /* padding-right: 0.5%; */
}

.title-image{
    width: 50%;
    margin: 39.5% 10% 10% 20%;
}


@media all and (min-width: 0px) and (max-width: 800px){
    .top-left{
        display: none;
    }
    .top-right{
        padding-top: 27.5%;
        background-image: url("images\main.png");
    }
}
/* Feature Box */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 1rem;
    color: #ff9933;
}

.icon:hover{
    color: #ff8000;
}


/* Contact US */

#contact{
    background-color: #ff9933;
    padding-top: 5%;
    padding-bottom: 10%;
}

.section-title h2 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 6%;
    margin-top: 20px;
    padding-bottom: 0;
    color: #1e1e1e;
  }

.contact .info-box {
    transition-property: transform;
    transition-duration: 0.2s;
    background-color: white;
    color: #1e1e1e;
    text-align: center;
    transform: scale(1);
    box-shadow: 0 0 30px #1e1e1e93;
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 20px;
  }

  .contact .info-box:hover{
    transition-property: transform;
    transition-duration: 0.2s;
    transform: scale(1.005);
    box-shadow: 0 0 50px #1e1e1e93;
  }

  .contact .info-box i {
    font-size: 32px;
    color: #ff9933;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #ff8000;
  }

  .contact .info-box i:hover{
    color: #ff8000;
    border: 2px dotted #ff8000;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }


/* Footer */

.bottom-hr {
  border-bottom: solid 0.25rem #a55200;
  border-top: 0;
  margin: 0;
}

#footer {
    background-color: #1e1e1e;
    text-align: center;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 4%;
    color: white;
  }
.foot-ico{
    padding: 0 0.5rem 2rem;
}

